body {
    background-color: bisque;
}

nav {
    background-color: beige;
    padding-left: 5px;
    text-decoration: none;
    display: flex;
}

nav:hover {
    background-color: aliceblue;
}


p{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;

}

